
  h1{
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: initial;
    animation-direction: alternate;
}
  @keyframes slidein {
    from {
      margin-left: 90%;
      width: 200%; 
      font-size: 200px;
    }
  
    to {
      margin-left: 20%;
      width: 50%;
    }
  }
  #intro{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 60px;
    border-style: solid;
    border-color: rgba(58, 58, 58, 0.685);
    padding: 5px;
    background-color: rgba(206, 141, 1, 0.76);
  }


.grille{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
          "dbz op naruto"
          "kuroko bleach .";
    width: 90%;
  }


  .Dbz{
    grid-area: dbz;
    border:rgba(85, 84, 84, 0.918);
    margin: 30px;
    padding: 10px;
    border-style: solid;
    text-align: center;
  }
  
  .OP{
    grid-area: op;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  
  }
  
  a{
    color: rgb(28, 31, 37);
  }
  
  .bleach{
    grid-area: bleach;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  }
  
  .Naruto{
    grid-area: naruto;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  }
  
  .kuroko{
    grid-area: kuroko;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  }

  @media screen and (max-width: 1000px){
    .grille{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "dbz op "
        "kuroko bleach"
        "naruto .";
        width: 100%;
      }
    

  }
  