
  .section_h1{
    text-align: center;
    animation-duration: 2.3s;
    animation-name: slidein;
    animation-iteration-count: initial;
    animation-direction: alternate;
}
  @keyframes slidein {
    from {
      margin-left: 90%;
      width: 50%; 
      font-size: 50px;
    }
  
    to {
      margin-left: 25%;
      width: 50%;
    }
  }
  .section_p{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 60px;
    border-style: solid;
    border-color: rgba(58, 58, 58, 0.685);
    padding: 5px;
    background-color: rgba(206, 141, 1, 0.76);
  }


.section_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
          "block-1 block-2 block-3"
          "block-4 block-5 .";
    width: 90%;
  }


  .section_grid_block-1{
    grid-area: block-1;
    border:rgba(85, 84, 84, 0.918);
    margin: 30px;
    padding: 10px;
    border-style: solid;
    text-align: center;
  }
  
  .section_grid_block-2{
    grid-area: block-2;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  
  }
  
  
  .section_grid_block-5{
    grid-area: block-5;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  }
  
  .section_grid_block-3{
    grid-area: block-3;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  }
  
  .section_grid_block-4{
    grid-area: block-4;
    border:rgba(85, 84, 84, 0.918);
    border-style: solid;
    text-align: center;
    margin: 30px;
    padding: 10px;
  }

  @media screen and (max-width: 1000px){
    .section_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "block-1 block-2 "
        "block-4 block-5"
        "block-3 .";
        width: 100%;
      }
    

  }
  