
.header{
    grid-area: header;
    background-color: rgba(110, 109, 116, 0.76);
    background-image: url(../../assets/img/ophaeder.jpg);
    background-size: cover;
    background-repeat: unset;
    width:100%;
    height: 20rem;
    }
  
  .header_nav{
      margin-top: 18.7rem;
    }
  
  
  .aside{
    grid-area: aside;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.685);
    margin-top: 25%;
    margin-top: 5.5rem;

      .aside_ul{
        list-style: none;
    margin-left: 0;
    padding-left: 0;
      }
      .aside_ul-li{
        background-color: rgb(8, 140, 228);
        border:rgb(0, 0, 0);
        border-width: 2px;
        border-style: solid;
        margin-bottom: 2px;
      margin-left: 5px;
      }
  }
  
  a{
    text-decoration: none;
    color: rgb(28, 31, 37);
  }
  
  
  img{
    max-width: 100%;
  }
  
  .aside_ul-h3{
    border-style: solid;
  border-color: rgba(6, 6, 7, 0.685);
  }
  
  .section{
  grid-area: section;
    background-color: rgba(126, 127, 128, 0.726);
    margin-top: 5.5rem;
    margin-left: 1rem;
  }
  
  .footer{
    grid-area: footer;
    text-align: center;
  }
  
  /*----------------------------------------------------------------------------
                           BODY 
  -----------------------------------------------------------------------------*/
  body
  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(215, 219, 226);
  color: black;
  margin: 0;
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-rows: 15rem auto 1fr;
  grid-template-columns: 0.7fr 8fr;
  grid-template-areas: 
        "header header header"
        "aside section section"
        "footer footer footer";
  }
  
  
  
  .intro{
    font-size: 30px;
    text-align: center;
  }
  
  .section_article-div{
    border-style: solid;
    border-color: black;
    margin: 2rem;
    padding: 1rem;
    width: 90%;
    display: grid;
    grid-template-areas: 
                "h3 h3"
                "img p";
  }
  
  
  .section_article-ul{
    display: flex;
    flex-flow: column-reverse;
    margin: 0.5em;
    margin-bottom: 1rem;
  
  }
  
  @media screen and (max-width: 1000px){
    
    .site{
      display: grid;
      grid-template-areas: 
          "header"
          "section"
          "Menu"
          "footer ";
     grid-template-rows: minmax(15em , auto, auto, 10em) ;
     grid-template-columns: 8fr;
     margin: 0;
     margin-bottom: 1rem;
    }
  
  
    .header{
      width: 100%; 
    }
    .footer{
      width: 100%;
    }
    .Center{
      width: 100%;
     
    }
  
    .Menu{
      width: 50%;
      text-align: center;
    }
  
  }
  
  